body{

background:#0f172a;
color:white;
font-family:Arial;

display:flex;
justify-content:center;
padding:20px;

}

.top{

display:flex;
justify-content:space-between;
width:350px;
margin-bottom:10px;

}

.card{

background:#1e293b;
padding:20px;
border-radius:20px;
width:350px;
text-align:center;

}

#clock{

font-size:28px;
margin:10px;

}

#map{

height:200px;
margin-top:15px;
border-radius:10px;

}

.weather-day{

display:flex;
justify-content:space-between;
background:#334155;
padding:8px;
margin-top:6px;
border-radius:8px;

}
